@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import 'stylingpages/partials/header';
@import 'stylingpages/partials/footer';
@import 'stylingpages/partials/button';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    
    a, p, h3 {
        text-decoration: none;
        color: firebrick;
        
    }
    
    
}   

html {
    overflow-x: hidden;
    width: 100vw;
    background-color: rgb(218, 196, 167);
    
}

// Small screen size mobile


body {
        display: grid;
        grid-template-columns: 1fr;
        
}
.section-break {

        position: relative;
        top: 100px;
    
}

.main {
        position: relative;
        top: 100px;
        display: grid;
        padding: 2%;
        justify-items: center;
        h2 {display: inline-block;
            position: relative;
            top: -3rem;
            }
        p {
            font-size: 1.5rem;
        }
}            
.main-logo {
    display: inline-block;
    width: 250px;
    position: relative;
    
}  
.hero { 
    position: relative;
    background-image: url("https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4, 125px);
    height: 500px;
    width: 100%;
    align-items: center;
    justify-items: center;
        h3 {
            font-size: 2rem;
                @media screen and (min-width: 350px) {
                    font-size: 2.2rem;
                }
                @media screen and (min-width: 400px) {
                    font-size: 2.5rem;
                }
                @media screen and (min-width: 600px) {
                    font-size: 3rem;
                }
            }
                .motto-1 {
                        display: inline-block;
                        grid-column: 2 / 4;
                        grid-row: 1 / 2;
                        position: relative;
                        left: -20%;
                        @media screen and (min-width: 600px) {
                            left: -15%;
                        }
                        }
                .motto-2 {
                    display: inline-block;
                        grid-column: 2 / 5;
                        grid-row: 2 / 3;
                        
                        }
                .motto-3 {
                    display: inline-block;
                        grid-column: 1 / 4;
                        grid-row: 3 / 4;
                        
                        }
                .motto-4 {
                    display: inline-block;
                        grid-column: 1 / 4;
                        grid-row: 4 / 5;
                        
                        }
}

.tag-btn {
    display: grid;
    height: 200px;

}

.contents {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            height: 1000px;
            p {
                
                text-align: center;
                }
            .contents-1, .contents-2 {
                display: grid;
                align-items: center;
                img {
                    object-fit: contain;
                    width: 100%;
                    height: 150px;
                    }
                    p {
                        padding: 5%;
                    }
                    }
            
}
                
            

.submenu {
        display: grid;
        height: 500px;
        grid-gap: 5px;
        position: relative;
        top: 100px;
        justify-items: center;
        padding-top: 1%;
            div {
                display: inline-block;
                position: relative;
                
                }
            h4 {
                text-align: center;
                margin: auto;
                font-size: 1.5rem;
                padding-bottom: 5%;
                }
            ul {
                padding-top: 5%;
                display: inline-block;
                list-style: none;
                display: grid;
                
                grid-gap: 10px;
                    li {
                        
                        text-align: center;
                        font-size: 1rem;
                    }
                }
                .contact-info {
                    position: relative;
                    display: grid;
                    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
                    grid-gap: 3px;
                    align-items: center;
                    
                    p {
                        display: inline;
                        text-align: center;
                        grid-column: 1 / 6;
                        
                        
                    }
                    
                    hr {
                        
                        
                        grid-column: 1 / 6;
                        grid-row: 2 / 3;
                    }
                
                    .fb {
                        
                        display: inline-block;
                        justify-self: center;
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                    }
                    .tw {
                        
                        display: inline-block;
                        justify-self: center;
                        grid-column: 3 / 4;
                        grid-row: 3 / 4;
                    }
                    .insta {
                        
                        display: inline-block;
                        justify-self: center;
                        grid-column: 4 / 5;
                        grid-row: 3 / 4;
                    }
                    

                }
                
            }





@media screen and (min-width: 600px) {
    .main {
        h2 {
            font-size: 2rem;
        }
    }
    .tag-btn {
        p {
            font-size: 1.8rem;
        }
    }
        .contents {
            
            .contents-1, .contents-2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1%;
                img {
                    height: 190px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                
                }
            .contents-1 {
                .menu-btn {
                    grid-column: 1 / 3;
                    }
                
                }
            .contents-2 {
                p, .menu-btn {
                    grid-column: 1 / 3;
                    }
                }
    }
        
        
        

.submenu {
        grid-template-columns: repeat(2, 1fr);
        
        .quick-menu {
            grid-column: 1 / 2;
        }
        .quick-links {
            grid-column: 2 / 3;
        }
        .contact-info {
            grid-column: 1 / 3;
            p {
                font-size: 1.3rem;
            }
        }
        ul {
            li {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .main {
        h2 {
            font-size: 2.5rem;
        }
    }
    .main-logo {
        width: 400px;
    }
    .contents {
    .contents-1, .contents-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img {
            height: 225px;
        }
    }
}
}