@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import 'stylingpages/partials/header';
@import 'stylingpages/partials/submenu';
@import 'stylingpages/partials/footer';
@import 'stylingpages/partials/button';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    a, p, h3 {
        text-decoration: none;
        color: firebrick;
    }
    hr {
        border-top: 1px solid #383838;
    }
}   
html {
    overflow-x: hidden;
    width: 100vw;
    background-color: rgb(218, 196, 167);
    
}
body {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 150px;
}
.main {
    display: grid;
    padding: 2%;
    
        p {
            
            font-size: 1.5rem;
        }
}            
.main-logo {
    display: grid;
    img {
        justify-self: center;
        height: 250px;
        width: auto;
    }
    h2 {
        font-size: 1.5rem;
        text-align: left;
        color: firebrick;
    }
    
    
}  
.hero { 
    
    background-image: url("https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4, 125px);
    height: 500px;
    width: 100%;
    align-items: center;
    justify-items: center;
        h3 {
            font-size: 2rem;
                @media screen and (min-width: 350px) {
                    font-size: 2.2rem;
                }
                @media screen and (min-width: 400px) {
                    font-size: 2.5rem;
                }
                @media screen and (min-width: 600px) {
                    font-size: 3rem;
                }
            }
                .motto-1 {
                        display: inline-block;
                        grid-column: 2 / 4;
                        grid-row: 1 / 2;
                        position: relative;
                        left: -20%;
                        @media screen and (min-width: 600px) {
                            left: -15%;
                        }
                        }
                .motto-2 {
                    display: inline-block;
                        grid-column: 2 / 5;
                        grid-row: 2 / 3;
                        
                        }
                .motto-3 {
                    display: inline-block;
                        grid-column: 1 / 4;
                        grid-row: 3 / 4;
                        
                        }
                .motto-4 {
                    display: inline-block;
                        grid-column: 1 / 4;
                        grid-row: 4 / 5;
                        
                        }
}
.tag-btn {

    display: grid;
    position: relative;
    height: 350px;
    width: auto;
    
    .tag-p {
        display: block;
        position: relative;
        top: 50%;
        left: 2%;
        font-weight: 600;
        width: auto;
        font-size: 1.5rem;
    }
}
.contents {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            
            hr {
                display: none;
            }
            p {
                font-weight: 600;
                text-align: center;
                position: relative;
                
                }
            .contents-1, .contents-2 {
                display: grid;
                align-items: center;
            img {
                object-fit: contain;
                width: auto;
                height: 190px;
                border-radius: 3px;
                padding: 2%;
                //box-shadow: -3px 3px 1px 1px #383838;
                }
            p {
                padding: 5%;
                }
                }
            
            .contents-2 {
                position: relative;
                grid-template-rows: repeat(4, 1fr);
                
                .contents-p-2 {
                    justify-self: left;    
                }
                .pizza-pic {
                    justify-self: right;
                    }
                .stove-pic {
                    justify-self: left;
                    }
                    .serving-pic {
                        justify-self: right;
                    }
                }
}


@media screen and (min-width: 600px) {
    .main {
        h2 {
            font-size: 2.2rem;
        }
    }
    .tag-btn {
        .tag-p {
            font-size: 2.3rem;

        }
    }
    .contents {
        .contents-1, .contents-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
                img {
                    height: 220px;
                    width: auto;
                    }
                    p {
                        font-size: 2.3rem;
                    }
                
                }
            .contents-1 {
                
                .contents-p-1 {
                    text-align: center;
                }
                
                }
            .contents-2 {
                
                .pizza-pic {
                    
                    grid-column: 2 / 3;
                }
                .stove-pic {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    
                }
                .serving-pic {
                    grid-column: 2 / 3;
                    grid-row: 3 / 4;
                }
                .contents-p-2 {
                    
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    
                
                    
                    }
                .menu-btn {
                        grid-column: 1 / 2;
                        grid-row: 3 / 5;
                    }
                }
    }
}

@media screen and (min-width: 992px) {
    .main {
        h2 {
            font-size: 2.5rem;
        }
    }
    .main-logo {
        width: 100%;
        padding-bottom: 5%;
        img {
            
            height: 350px;
            width: auto;
        }
    }
    .tag-btn {
        .tag-p {
            font-size: 2.7rem;
            
            
        }
    }
    .contents {
        
    .contents-1, .contents-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img {
            height: 250px;
            width: auto;
        }
        p {
            font-size: 2.7rem;
            font-weight: 600;
        }
        
    }
    .contents-1 {
        
        p {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
        }
        img {
            grid-column: 1 / 2;
        }
    }
    .contents-2 {
        grid-template-rows: repeat(3, 1fr);
        .contents-p-2 {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            text-align: start;
        }
        .pizza-pic {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        } 
        .stove-pic {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
        }
        .serving-pic {
            grid-column: 3 / 4;
            grid-row: 2 / 4;
        }
        .menu-btn {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            }
    }
}
}