@import 'navbar';

// Header is a component and used across all pages with the navbar injected from
// the _navbar.scss partial component


header {
    display: grid;
    grid-template-columns: 100px 100px 1fr 100px;
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #383838;
    align-items: center;
    justify-items: stretch;

    // Hidden until Tablet size
    .tablet-links {
        display: none;
        position: relative;
        grid-gap: 1%;
        max-width: 500px;
        height: 150px;
        padding: 3%;
        align-items: center;
        justify-items: center;
        a {
            color: #dac4a7;
            opacity: 0.35;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
    }

    // Only clickable on MOBILE size and is hidden at TABLET size
    .phone-link {
        display: inline-block;
        justify-self: center;
    .fa-phone {
        color: #dac4a7;
        font-size: 1.8rem;
        opacity: 0.35;
        transition: .3s;
        &:hover {
            opacity: 1;
            }
        }
    }
    .phone-number {
        display: inline-block;
        position: absolute;
        top: 2%;
        left: 2%;
        color: #dac4a7;
        }  
    .logo {
    display: inline-block;
    position: relative;
    grid-column: 4 / 5;
    // LOGO 
    img {
        height: 100px;
        opacity: 0.35;
        transition: .3s;
        &:hover {
            opacity: 1;
            }
        }
    }



    // TABLET

    @media screen and (min-width: 600px) {
        grid-template-columns: 4fr 1fr 100px;

        // DESKTOP grid
        @media screen and (min-width: 1280px) {
            grid-template-columns: 4fr 1fr 150px;
        }
        
        // Displayed at TABLET size and up
        
        .tablet-links {
            display: grid;
            grid-column: 1 / 2;
            grid-template-columns: repeat(3, 1fr);

            // DESKTOP size
            
            @media screen and (min-width: 992px) {
                grid-gap: 5%;
            }
            a { font-weight: 800;
                font-size: 1.75rem; 

                // Nested @media queries for targeted responsiveness
                
                @media screen and (min-width: 768px) {
                    font-size: 1.9rem;
                }
                @media screen and (min-width: 992px) {
                    font-size: 2.1rem;
                }
                @media screen and (min-width: 1280px)  {
                    font-size: 3rem;
                }
                
            }

            // Grid injections
            .tablet-link-1 {
                grid-column: 1 / 2;
                }
            .tablet-link-2 {
                grid-column: 2 /3;
            }
            .tablet-link-3 {
                grid-column: 3 / 4;
            }
        }

        // Grid injection and size at 1280px width
        .logo {
            grid-column: 3 / 4;
            @media screen and (min-width: 1280px) {
            img {
                height: 150px;
            }
        }
        }

    // Hidden on TABLET and up
    .dropdown {
        display: none;
        }
    .phone-link {
        display: none;
            }
        }
    }

