// Navbar is a component injected into the header and is 
// only displyed on mobile

.dropdown {
    pointer-events: auto;
    position: relative;
    display: inline-block;
    justify-self: center;

.dropdownbtn {
    position: relative;
    background: none;
    border: none;
    .fa-bars {
        font-size: 2rem;
        color: #dac4a7;
        opacity: 0.4;
        }
    }
.dropdown-links {
    display: none;
    position: absolute;
    height: 30px;
    
    top: 60px;
    left: -135px;
    grid-template-columns: 80px 90px 115px;
    z-index: 2;
    
    
    
    a {
        font-size: 1.4rem;
        font-weight: 600;
        color: #dac4a7;
        opacity: 0.9;
        transition: .4s;
        text-align: center;
        align-self: center;
        
        text-align: center;
        &:hover {
            
            opacity: 1;
        }
    }
    
    
}
&:hover {
    .dropdownbtn {
        .fa-bars{
            opacity: 1;
        }
    }
}
&:hover .dropdown-links {
    display: grid;
    background-color: #383838 0.5;
    }
}





















