.navbar {
    user-select: none;
    display: inline-block;
    top: 0;
    left: 0;
    justify-self: center;
    .fa-bars {
        font-size: 2rem;
        color: firebrick;
        opacity: 0.8;
            div {
                display: none;
                
                a {
                    
                    font-size: 1.5rem;
                    }
                }
            }
        

&:focus-within {
    pointer-events: none;
    
    .dropdown {
        display: inline-block;
        position: absolute;
        top: 100px;
        left: 10px;
        width: 300px;
        pointer-events: all;
        .dropdown-links {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
                
                .dropdown-link-1 {
                    display: inline-block;
                    grid-column: 1 / 2;
                    background-color: none;
                    opacity: 0.9;
                    }
                .dropdown-link-2 {
                    display: inline-block;
                    grid-column: 2 / 3;
                    opacity: 0.9;
                    
                    }
                .dropdown-link-3 {
                        display: inline-block;
                        grid-column: 3 / 4;
                        opacity: 0.9;
                        
                        }
                    a {
                        
                        color: #383838;
                        font-size: 1.5rem;
                    }
                
                
                
                }
            }
        }
    }

