@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import 'partials/header';
@import 'partials/submenu';
@import 'partials/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    a, p {
        
        text-decoration: none;
        color: firebrick;
    }
    hr {
        border-top: 1px solid #383838;
    }
}   
html {
    overflow-x: hidden;
    width: 100vw;
    background-color: rgb(218, 196, 167);
}
body {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 150px;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
    justify-content: center;
    
    font-weight: 600;
    .dough-pic, .calzone-pic, .video {
        padding: 10%;
        display: inline-block;
        text-align: center;
        img {
            width: 250px;
            height: auto;
            
            
        }
        p {
            font-size: 1.5rem;
        }
    }
    .calzone-pic {
        
    }
    .contents-video {
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding-top: 28.125%;
        padding-bottom: 28.125%;
        .video {
            position: absolute;
            height: 100%;
            width: auto;
            }
        }
    
        
    }

    @media screen and (min-width: 600px) {
        .main {
            grid-template-columns: repeat(2, 1fr);
            .contents-video {
                left: 75%;
            }
        }
    }

    @media screen and (min-width: 992px) {
        .main {
            grid-template-columns: repeat(3, 1fr);
        }
    }
